@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700&subset=latin-ext');
$namethin: #666;
$nameregular: #333;
$namegray: #ccc;
$namebold: #000;
$white: #fff;


body, html {
    height: 100%;
    padding:0;
    margin:0;

    background: darken($white, 10%); 
    }
body {
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
}


#icons {
    margin-top: 1em;
    text-align: center;
    span {
        display: block;
        margin-top: 2.2em;
        text-align: center;
        .break {
            height: 1rem;
        }
    }
    a {
        color: $namebold;
        font-size: 1.5em;
        display: inline-block;
        min-width: 2.5rem;
        margin-right: .5rem;
        margin-left: .5rem;
        // margin-bottom: 2rem;
    }
}

#tk {
    a {
        &:hover {
            text-decoration: none;
        }
    }
    position: absolute;
    bottom: 1em;
    left: 1.5em;
    h2 {
        padding-left: .5em;
        font-size: 1em;
        font-weight: 200;
        color: $namethin;
        span {
            font-weight: 400;
            color: $nameregular;
            span {
                font-weight: 600;
                color: $namebold;
            }
        }
    }
}
