@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700&subset=latin-ext');
$namethin: #666;
$nameregular: #333;
$namegray: #ccc;
$namebold: #000;
$white: #fff;


body,
html {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

#tk {
    a {
        &:hover {
            text-decoration: none;
        }
    }
    position: absolute;
    bottom: 1em;
    left: 1.5em;
    h2 {
        padding-left: .5em;
        font-size: 1em;
        font-weight: 200;
        color: $namethin;
        span {
            font-weight: 400;
            color: $nameregular;
            span {
                font-weight: 600;
                color: $namebold;
            }
        }
    }
}