// *************************************************************************************************************************
// Breakpoints *************************************************************************************************************
$grid-breakpoints: (
    xs:             0,
    sm:         576px,
    md:         768px,
    lg:         992px,
    xl:        1200px,
    xxl:       1400px
) !default;

// *************************************************************************************************************************
// Global Colors ***********************************************************************************************************
$white:        #ffffff;
$black:        #000000;
$beige:        #ede8e1;
$blue:         #95b6c8;
$gray:         #6c6c6d;
$lightgray:    #cccccc;

$namethin: #666;
$nameregular: #333;
$namebold: #000;
:root {
    --gradient: linear-gradient(90deg, #95b6c8, #ede8e1, #ffffff);
}

// *************************************************************************************************************************
// Dimensions **************************************************************************************************************
$menuheight:   140px;

$dosis: 'Dosis', sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$titillium: 'Titillium Web', sans-serif;
