.hp_mobile {background-color: #000; color: #fff;}
.hp_mobile:hover {color: #000; background-color: #fff;}

.hp_addic7ed {background-color: #009BCB; color: #000;}
.hp_addic7ed:hover {color: #009BCB; background-color: #000;}
.hp_analytics {background-color: #EE790B; color: #fff;}
.hp_analytics:hover {color: #EE790B; background-color: #fff;}
.hp_bilgiadmin {background-color: #417690; color: #F4F379;}
.hp_bilgiadmin:hover {color: #417690; background-color: #F4F379;}
.hp_birgun {background-color: #fff; color: #CD2F36;}
.hp_birgun:hover {color: #fff; background-color: #CD2F36;}
.hp_bitbucket {background-color: #0747A6; color: #fff;}
.hp_bitbucket:hover {color: #0747A6; background-color: #fff;}
.hp_bootsnipp {background-color: #5FB0E4; color: #fff;}
.hp_bootsnipp:hover {color: #5FB0E4; background-color: #fff;}
.hp_bootstrap {background-color: #5F4586; color: #fff;}
.hp_bootstrap:hover {color: #5F4586; background-color: #fff;}
.hp_bourbon {background-color: #F36C34; color: #fff;}
.hp_bourbon:hover {color: #F36C34; background-color: #fff;}
.hp_bundle {background-color: #DD1327; color: #000;}
.hp_bundle:hover {color: #DD1327; background-color: #000;}
.hp_codeschool {background-color: #4CADC1; color: #fff;}
.hp_codeschool:hover {color: #4CADC1; background-color: #fff;}
.hp_codrops {background-color: #0099CC; color: #fff;}
.hp_codrops:hover {color: #0099CC; background-color: #fff;}
.hp_digitalocean {background-color: #0080FF; color: #fff;}
.hp_digitalocean:hover {color: #0080FF; background-color: #fff;}
.hp_diken {background-color: #FDB42A; color: #fff;}
.hp_diken:hover {color: #FDB42A; background-color: #fff;}
.hp_django {background-color: #0C4B33; color: #fff;}
.hp_django:hover {color: #0C4B33; background-color: #fff;}
.hp_facebook {background-color: #3B5998; color: #fff;}
.hp_facebook:hover {color: #3B5998; background-color: #fff;}
.hp_feedly {background-color: #2BB24C; color: #fff;}
.hp_feedly:hover {color: #2BB24C; background-color: #fff;}
.hp_fontawesome {background-color: #1D9B72; color: #fff;}
.hp_fontawesome:hover {color: #1D9B72; background-color: #fff;}
.hp_garanti {background-color: #80BE35; color: #fff;}
.hp_garanti:hover {color: #80BE35; background-color: #fff;}
.hp_github {background-color: #24292E; color: #fff;}
.hp_github:hover {color: #24292E; background-color: #fff;}
.hp_googleapps {background-color: #3367D6; color: #fff;}
.hp_googleapps:hover {color: #3367D6; background-color: #fff;}
.hp_hue {background-color: #6B4CAA; color: #fff;}
.hp_hue:hover {color: #6B4CAA; background-color: #fff;}
.hp_imgsearch {background-color: #fff; color: #000;}
.hp_imgsearch:hover {color: #fff; background-color: #000;}
.hp_imdb {background-color: #F3CE00; color: #000;}
.hp_imdb:hover {color: #F3CE00; background-color: #000;}
.hp_localhost {background-color: #000; color: #fff;}
.hp_localhost:hover {color: #000; background-color: #fff;}
.hp_lastfm {color:#B7010E; background-color: #fff;}
.hp_lastfm:hover {background-color:#B7010E; color: #fff;}
.hp_linkedin {color:#fff; background-color: #1B79B1;}
.hp_linkedin:hover {background-color:#fff; color: #1B79B1;}
.hp_maximo {background-color: #9F9E9E; color: #fff;}
.hp_maximo:hover {color: #9F9E9E; background-color: #fff;}
.hp_middleman {background-color: #FBC547; color: #000;}
.hp_middleman:hover {color: #FBC547; background-color: #000;}
.hp_neat {background-color: #00D4FF; color: #000;}
.hp_neat:hover {color: #00D4FF; background-color: #000;}
.hp_netflix {background-color: #000; color: #E50914;}
.hp_netflix:hover {color: #000; background-color: #E50914;}
.hp_netmaster {background-color: #fff; color: #8E1635;}
.hp_netmaster:hover {color: #fff; background-color: #8E1635;}
.hp_noip {background-color: #fff; color: #94BF00;}
.hp_noip:hover {color: #fff; background-color: #94BF00;}
.hp_opensubtitles {background-color: #DCF2B8; color: #000;}
.hp_opensubtitles:hover {color: #DCF2B8; background-color: #000;}
.hp_outlook {background-color: #0072C6; color: #fff;}
.hp_outlook:hover {color: #0072C6; background-color: #fff;}
.hp_pinterest {background-color: #BD081C; color: #fff;}
.hp_pinterest:hover {color: #BD081C; background-color: #fff;}
.hp_piratebay {background-color: #6A472B; color: #fff;}
.hp_piratebay:hover {color: #6A472B; background-color: #fff;}
.hp_podnapisi {background-color: #4E6EE3; color: #fff;}
.hp_podnapisi:hover {color: #4E6EE3; background-color: #fff;}
.hp_putio {color: #FDCE45; background-color: #242424;}
.hp_putio:hover {background-color: #FDCE45; color: #242424;}
.hp_alldebrid {color: #f8c346; background-color: #000;}
.hp_alldebrid:hover {background-color: #f8c346; color: #000;}
.hp_rarbg {background-color: #3860BB; color: #fff;}
.hp_rarbg:hover {color: #3860BB; background-color: #fff;}
.hp_reddit {background-color: #CEE3F8; color: #000;}
.hp_reddit:hover {color: #CEE3F8; background-color: #000;}
.hp_refills {background-color: #93E9BE; color: #000;}
.hp_refills:hover {color: #93E9BE; background-color: #000;}
.hp_rehber {background-color: #E82C29; color: #fff;}
.hp_rehber:hover {color: #E82C29; background-color: #fff;}
.hp_rubygems {background-color: #E9573F; color: #fff;}
.hp_rubygems:hover {color: #E9573F; background-color: #fff;}
.hp_shuttle {background-color: #dc2c40; color: #fff;}
.hp_shuttle:hover {color: #dc2c40; background-color: #fff;}
.hp_showrss {background-color: #2C3E50; color: #fff;}
.hp_showrss:hover {color: #2C3E50; background-color: #fff;}
.hp_spotify {background-color: #1DB954; color: #000;}
.hp_spotify:hover {color: #1DB954; background-color: #000;}
.hp_subscene {background-color: #EDE4CE; color: #1F4F6C;}
.hp_subscene:hover {color: #EDE4CE; background-color: #1F4F6C;}
.hp_t24 {background-color: #007FC5; color: #fff;}
.hp_t24:hover {color: #007FC5; background-color: #fff;}
.hp_telegram {background-color: #2DA6E1; color: #fff;}
.hp_telegram:hover {color: #2DA6E1; background-color: #fff;}
.hp_tumblr {background-color: #36465D; color: #fff;}
.hp_tumblr:hover {color: #36465D; background-color: #fff;}
.hp_tvmaze {background-color: #3C948B; color: #fff;}
.hp_tvmaze:hover {color: #3C948B; background-color: #fff;}
.hp_twitter {background-color: #62AADB; color: #fff;}
.hp_twitter:hover {color: #62AADB; background-color: #fff;}
.hp_vlclocal {background-color: #F48B00; color: #fff;}
.hp_vlclocal:hover {color: #F48B00; background-color: #fff;}
.hp_webmastertools {background-color: #F1F1F1; color: #000;}
.hp_webmastertools:hover {color: #F1F1F1; background-color: #000;}
.hp_webteam {background-color: #fff; color: #666;}
.hp_webteam:hover {color: #fff; background-color: #666;}
.hp_whatsapp {background-color: #00BFA5; color: #fff;}
.hp_whatsapp:hover {color: #00BFA5; background-color: #fff;}
.hp_yemeksepeti {background-color: #AB0012; color: #FCE23F;}
.hp_yemeksepeti:hover {color: #AB0012; background-color: #FCE23F;}
.hp_youtube {background-color: #CC181E; color: #fff;}
.hp_youtube:hover {color: #CC181E; background-color: #fff;}
.hp_yts {background-color: #6AC045; color: #fff;}
.hp_yts:hover {color: #6AC045; background-color: #fff;}
.hp_ytssub {background-color: #182834; color: #FBB701;}
.hp_ytssub:hover {color: #182834; background-color: #FBB701;}
.hp_zoho {background-color: #fff; color: #000;}
.hp_zoho:hover {color: #fff; background-color: #000;}
.hp_trello {background-color: #026AA7; color: #fff;}
.hp_trello:hover {color: #026AA7; background-color: #fff;}
.hp_chill {background-color: #fff; color: #000;}
.hp_chill:hover {color: #fff; background-color: #000;}
.hp_vue {background-color: #36495D; color: #47B784;}
.hp_vue:hover {color: #36495D; background-color: #47B784;}
.hp_electron {background-color: #2F3240; color: #76B1BD;}
.hp_electron:hover {color: #2F3240; background-color: #76B1BD;}
.hp_uktvshows {background-color: #ffffff; color: #CD1931;}
.hp_uktvshows:hover {color: #ffffff; background-color: #CD1931;}
.hp_plex {background-color: #282A2D; color: #CA7B28;}
.hp_plex:hover {color: #282A2D; background-color: #CA7B28;}
.hp_audible {background-color: #f3993e; color: #ffffff;}
.hp_audible:hover {color: #f3993e; background-color: #ffffff;}
.hp_tvdb {background-color: #387f3f; color: #ffffff;}
.hp_tvdb:hover {color: #387f3f; background-color: #ffffff;}