<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <meta charset="utf-8">
        <meta name="robots" content="nofollow" />
        <link rel="shortcut icon" href="icon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:700,900&amp;subset=latin-ext">
        <link rel="stylesheet" href="layout-min.css">
        <link rel="stylesheet" href="buttons.css">
        <script src="angular.js"></script>
        <script src="links.js"></script>
    </head>
    <body ng-app="NewTabApp">
        <div class="container main" ng-controller="LinkController">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="clearfix">
                    <div class="groupwrapper {{ link.showon }}" ng-repeat="link in links" id="{{ link.title }}">
                        <div class="row">
                            <div class="col-1 titles">
                                <div class="title">{{ link.title }}</div>
                            </div>
                            <div class="col-11 links">
                                <a href="{{ url.url }}" class="col-lg-2 col-md-10 col-sm-10 col-xs-10 btn link {{ url.cssstyle }}" ng-repeat="url in link.urls" >{{ url.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
